table {
    border-collapse: collapse;
  }
  

  .title {
    font-size: 32px;
    background-color: rgb(255, 230, 153);
    text-align: center  ;
  }
  

  th{
    border: solid 1px rgba(163, 163, 163, 0.7);
    width: 130px;
  }
  

  td {
    border: solid 1px rgba(163, 163, 163, 0.7);
  }
  

  .linea-vacia {
    height: 20px;
  }
  

  .linea-vacia2 {
    width: 120px;
  }
  

  .numero {
    text-align: right;
  }
  
  
  .rojo {
    background-color: rgb(248, 203, 173);
    text-align: left;
  }
  

  .verde {
    background-color: rgb(206, 219, 198);
  }

